<div class="test">menu</div>

<div><a href="{{ path('computer_index') }}"><i class="fas fa-server fa-sm"></i> List computers</a></div>
<div class="MenuNewAction"><a href="{{ path('computer_new') }}"> &bull; New computer</a></div>


<br>
<div><a href="{{ path('mainboard_index') }}"><i class="fas fa-server fa-sm"></i> List mainboard</a></div>
<div class="MenuNewAction"><a href="{{ path('mainboard_new') }}"> &bull; New mainboard</a></div>

<div><a href="{{ path('graphiccard_index') }}"><i class="fas fa-server fa-sm"></i> List grafische kaart</a></div>
<div class="MenuNewAction"><a href="{{ path('graphiccard_new') }}"> &bull; New grafische kaart</a></div>

<div><a href="{{ path('processor_index') }}"><i class="fas fa-server fa-sm"></i> List processor</a></div>
<div class="MenuNewAction"><a href="{{ path('processor_new') }}"> &bull; New processor</a></div>

<div><a href="{{ path('housinglist_index') }}"><i class="fas fa-server fa-sm"></i> List behuizin</a></div>
<div class="MenuNewAction"><a href="{{ path('housinglist_new') }}"> &bull; New behuizin</a></div>

<div><a href="{{ path('operatingsystemlist_index') }}"><i class="fas fa-server fa-sm"></i> List operating systems</a></div>
<div class="MenuNewAction"><a href="{{ path('operatingsystemlist_new') }}"> &bull; New operating systems</a></div>




<br>
<div><a href="{{ path('colorlist_index') }}"><i class="fas fa-cogs"></i> List kleuren</a></div>
<div class="MenuNewAction"><a href="{{ path('colorlist_new') }}"> &bull; New kleur</a></div>

<div><a href="{{ path('memorylist_index') }}"><i class="fas fa-cogs"></i> List memory</a></div>
<div class="MenuNewAction"><a href="{{ path('memorylist_new') }}"> &bull; New memory</a></div>

<div><a href="{{ path('memorytypelist_index') }}"><i class="fas fa-cogs"></i> List memoryTypes</a></div>
<div class="MenuNewAction"><a href="{{ path('memorytypelist_new') }}"> &bull; New memoryTypes</a></div>
